.descriptionbox{
    margin: 120px 170px;
}
.descrptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background:#FBFBFB; 
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #ccc;
    padding: 40px;
    padding-bottom:60px ;
}
@media (max-width: 768px) {
    .descriptionbox {
        margin: 60px 85px;
    }

    .descriptionbox-nav-box {
        font-size: 14px;
        width: 150px;
        height: 60px;
    }

    .descriptionbox-description {
        padding: 30px;
        padding-bottom: 50px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .descriptionbox {
        margin: 30px 42px;
    }

    .descriptionbox-nav-box {
        font-size: 12px;
        width: 120px;
        height: 50px;
    }

    .descriptionbox-description {
        padding: 20px;
        padding-bottom: 40px;
        gap: 15px;
    }
}
